tests/docroot/soap/SQLDataSoap.wsdl.xml

<?xml version='1.0' encoding='UTF-8' ?>
<definitions  name ='SQLDataSoap'   targetNamespace = 'http://127.0.0.1:8080/soap/wsdl'
   xmlns:tns='http://127.0.0.1:8080/soap/wsdl'
   xmlns:xsd='http://www.w3.org/2001/XMLSchema'
   xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
   xmlns='http://schemas.xmlsoap.org/wsdl/'>
  <types>
    <schema targetNamespace='http://www.SoapClient.com/xml/SQLDataSoap.xsd'
      xmlns='http://www.w3.org/2001/XMLSchema'>
      <xsd:complexType name="SomeType">
        <xsd:annotation>
          <xsd:documentation>Retrieves a list of SKU's with low inventory qty</xsd:documentation>
          <xsd:appinfo xmlns:inf="http://127.0.0.1:8080/soap/wsdl"/>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="thing" minOccurs="1" maxOccurs="1" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation/>
              <xsd:appinfo xmlns:inf="http://127.0.0.1:8080/soap/wsdl">
                <inf:min/><inf:max/>
                <inf:callInfo>
                  <inf:callName>bradWasHere</inf:callName>
                  <inf:requiredInput>Yes</inf:requiredInput>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="qty" minOccurs="1" maxOccurs="1" type="xsd:float"><xsd:annotation><xsd:documentation/><xsd:appinfo xmlns:inf="http://127.0.0.1:8080/soap/wsdl"><inf:callInfo><inf:callName>bradWasHere</inf:callName><inf:requiredInput>Yes</inf:requiredInput></inf:callInfo></xsd:appinfo></xsd:annotation></xsd:element>
          <xsd:element name="price" minOccurs="0" maxOccurs="1" type="xsd:int"><xsd:annotation><xsd:documentation/><xsd:appinfo xmlns:inf="http://127.0.0.1:8080/soap/wsdl"><inf:default>1</inf:default><inf:min/><inf:max/><inf:callInfo><inf:callName>bradWasHere</inf:callName><inf:requiredInput>No</inf:requiredInput></inf:callInfo></xsd:appinfo></xsd:annotation></xsd:element>
          <xsd:element name="isGift" minOccurs="0" maxOccurs="1" type="xsd:boolean"><xsd:annotation><xsd:documentation/><xsd:appinfo xmlns:inf="http://127.0.0.1:8080/soap/wsdl"><inf:min/><inf:max/><inf:callInfo><inf:callName>bradWasHere</inf:callName><inf:requiredInput>No</inf:requiredInput></inf:callInfo></xsd:appinfo></xsd:annotation></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </schema>
  </types>
  <message name='ProcessSRL'>
    <part name='SRLFile' type='xsd:string'/>
    <part name='RequestName' type='xsd:string'/>
    <part name='key' type='xsd:string'/>
  </message>
  <message name='ProcessSRL2'>
    <part name='SRLFile' type='xsd:string'/>
    <part name='RequestName' type='xsd:string'/>
    <part name='key1' type='xsd:string'/>
    <part name='key2' type='xsd:string'/>
  </message>
  <message name='ProcessSRLResponse'>
    <part name='return' type='xsd:string'/>
  </message>
  <message name='ProcessSQL'>
    <part name='DataSource' type='xsd:string'/>
    <part name='SQLStatement' type='xsd:string'/>
    <part name='UserName' type='xsd:string'/>
    <part name='Password' type='xsd:string'/>
  </message>
  <message name='ProcessSQLResponse'>
    <part name='return' type='xsd:string'/>
  </message>
  <portType name='SQLDataSoapPortType'>
    <operation name='ProcessSRL' parameterOrder='SRLFile RequestName key'>
      <input message='tns:ProcessSRL' />
      <output message='tns:ProcessSRLResponse' />
    </operation>
    <operation name='ProcessSRL2' parameterOrder='SRLFile RequestName key1 key2'>
      <input message='tns:ProcessSRL2' />
      <output message='tns:ProcessSRLResponse' />
    </operation>
    <operation name='ProcessSQL' parameterOrder='DataSource SQLStatement UserName Password'>
      <input message='tns:ProcessSQL' />
      <output message='tns:ProcessSQLResponse' />
    </operation>
  </portType>
  <binding name='SQLDataSoapBinding' type='tns:SQLDataSoapPortType' >
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
    <operation name='ProcessSRL' >
      <soap:operation soapAction='http://127.0.0.1:8080/soap/SQLDataSRL' />
      <input>
        <soap:body use='encoded' namespace='http://www.SoapClient.com/xml/SQLDataSoap.xsd'  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://www.SoapClient.com/xml/SQLDataSoap.xsd'  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='ProcessSRL2' >
      <soap:operation soapAction='http://127.0.0.1:8080/soap/SQLDataSRL' />
      <input>
        <soap:body use='encoded' namespace='http://www.SoapClient.com/xml/SQLDataSoap.xsd'  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://www.SoapClient.com/xml/SQLDataSoap.xsd'  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='ProcessSQL' >
      <soap:operation soapAction='http://www.SoapClient.com/SQLDataSQL' />
      <input>
        <soap:body use='encoded' namespace='http://www.SoapClient.com/xml/SQLDataSoap.xsd'  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://www.SoapClient.com/xml/SQLDataSoap.xsd'  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
  </binding>
  <service name='SQLDataSoap' >
    <port name='SQLDataSoapPortType' binding='tns:SQLDataSoapBinding' >
      <soap:address location='http://127.0.0.1:8080/soap/wsdl' />
    </port>
  </service>
</definitions>
